<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>
  <ul>
    <% for (var item in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= item %>/delete">
          <a href="<%= urls[item] %>"> <%= item %> </a>:
          <a href="<%= urls[item] %>"> <%= urls[item] %></a>
          <input type="submit" value="Delete">
          <button type="button" onclick="location.href='/urls/<%=item%>'" >Edit</button>
        </form>
      </li>
      <% }; %>
  </ul>
  <a href="/urls/new">shorten URL</a>
</body>

</html>