<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include partials/_header %>
  </header>
  <ul>
<% if (user && user.id) {
  for (let item in urls) { %>

      <li>
        <form method="POST" action="/urls/<%= item %>/delete">
          <a href="/u/<%= item %>"> <%= item %> </a>:
          <%= urls[item]["longURL"] %>
          <a href="/urls/<%=item%>">Edit</a>
          <input type="submit" value="Delete">
          <!-- <button type="button" onclick="location.href='/urls/<%=item%>'" >Edit</button> -->
        </form>
      </li>


<%  }
}else { %>
  <h1>No user logged in ... nothing to show</h1>
<% } %>
  </ul>
  <a href="/urls/new">shorten URL</a>
</body>

</html>